@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mettre ici les styles "globaux" */

@layer components {
    .jazznpop-h1 {
        @apply font-abril-fatface text-6xl lg:text-7xl;
    }
    .jazznpop-h2 {
        @apply text-3xl font-bold md:text-4xl lg:text-5xl;
    }
    .jazznpop-text {
        @apply text-base md:text-lg lg:text-xl;
    }
    .jazznpop-bouton {
        @apply text-2xl font-bold;
    }
    .jazznpop-card-title {
        @apply text-3xl font-bold;
    }
    .jazznpop-card-caption {
        @apply text-2xl font-light;
    }
    .jazznpop-input {
        @apply jazznpop-text 
        max-w-2xl 
        rounded-xl 
        border-2 
        border-red-jazzNpop 
        bg-white p-2 
        focus-visible:ring-4 
        focus-visible:ring-gray-900 
        dark:bg-transparent 
        dark:bg-black 
        dark:bg-opacity-50;
    }
    .jazznpop-add-button {
        @apply rounded-full border-2 border-gray-900 p-3 focus-visible:shadow-xl focus-visible:shadow-blue-400 dark:border-white;
    }

    /* Pour l'icon calendrier de l'input type=date (darkmode)*/
    ::-webkit-calendar-picker-indicator {
        @apply dark:invert;
    }

}